
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(86,80,222);
  background: linear-gradient(180deg, rgba(86,80,222,1) 0%, rgba(7,164,215,1) 100%);

}



.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  font-family: "Hiragino Mincho ProN";
}

.title {
  text-align: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 300px;
  margin-top: 5rem;
}

.card {
  margin: 1.8rem;
  flex-basis: 300px;
  padding: 1.2rem;
  text-align: center;
  color: inherit;
  border: 2px solid #eaeaea;
  border-radius: 35px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: black;
  border-color: indigo;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: whitesmoke;
}

.logo {
  height: 5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
