.notlogged {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(80,70,255);
    background: linear-gradient(180deg, rgba(80,70,255,1) 0%, rgba(56,140,167,1) 32%, rgba(0,212,255,1) 100%);
    outline: none;
}

.content {
    text-align: center;
}

.sign_in_button {
    padding-top: 1em;
    padding-bottom: 2em;
}

.notlogged button {
    font-size: 16px;
    border-radius: 0.5em;
    background-color: white;
    border: none;
}