.container {
  min-height: 100vh;
  display: flex;
  background: rgb(80,70,255);
  background: linear-gradient(180deg, rgba(80,70,255,1) 0%, rgba(56,140,167,1) 32%, rgba(0,212,255,1) 100%);
}

.sidebar {
  flex: 0 0 15%;
  overflow: auto;
  background: rgb(80, 70, 255);
  background: linear-gradient(0deg, rgba(80, 70, 255, 1) 0%, rgba(56, 140, 167, 1) 32%, rgba(0, 212, 255, 1) 100%);
  position: relative;
  text-align: center;
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 3.6rem;
  font-family: "Hiragino Mincho ProN";
  align-items: center;
}


.grid {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  border-radius: 0.6em;
}

.container button {
  font-size: 16px;
  margin-top: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


