.link{
  text-decoration: none;
  color:black;
  text-align: center;
  
}
.container {
  min-height: 100vh;
  display: flex;
  background: #212223;
}

#menu{
  flex: 0 0 15%;
  overflow: auto;
  background: #212223;
  position: relative;
  text-align: center;
}


#game{
  background: #212223;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#log{
  background: #212223;
  color: rgb(226, 184, 154);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 100%;
}

.time {
  padding-top: 2em;
  text-align: center;
  font-size: 2em;
  color: rgb(226, 184, 154);
}

.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.buttons button {
  font-size: 1em;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1.5em;
  border-radius: 1em;
  border: none;
}

#inviteLink{
  width: 80%;
  height: auto;
}

#playerMoveHistory{
  color: rgb(226, 184, 154);
  background-color:#292a2a;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  border-radius: 1em;
}

#logout{
  top: 95%;
  bottom: 0;
  margin-bottom: 5%;
}

.time-color {
  color: rgb(226, 184, 154);
}

#innermenu{
  text-align: center;
  background-color:#ffffff87;
  height:fit-content;
  width: auto;
  margin: 5%;
}

.button_click{
  width:100%;
  background-color: transparent;
  border-color: transparent;
}

.time {
  font-size: 18px;
}
