.notlogged {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#292a2a;
    outline: none;
}

.content {
    text-align: center;
    color: rgb(226, 184, 154);
}

.sign_in_button {
    padding-top: 1em;
    padding-bottom: 2em;
}

.notlogged button {
    font-size: 16px;
    border-radius: 0.5em;
    background-color: white;
    border: none;
}