.leftpannel{
  width: 15%;
  height: 100%;
  background: #212223;
  float:left;
}
.navpannel{
  width: 90%;
  height: 90%;
  background: green;
  margin-top: 14%;
  margin-left: 5%;
}
.midpannel{
  width: 70%;
  height: 100%;
  background: #212223;
  float: left;
}
.profilpicture{
  width: 25%;
  height: 25%;
  float:left;
  margin-top: 1%;
}
.profilpannel{
  width: 64%;
  height: 25%;
  background-color: rgb(226, 184, 154);
  float:right;
  margin-top: 3%;
  margin-right: 4%;
}
.gamehistory{
  width: 96%;
  height: 60%;
  float: left;
  margin-top: 3%;
}
.rightpannel{
  width: 15%;
  height: 100%;
  background: #212223;
  float:right;
}
.selct-picture-button{
  width: 50px;
  height: 50px;
  background-color: rgb(139, 139, 139);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamehistory_table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border-top: 0px;
  background-color:#ffffff87;
}
.gamehistory_table thead tr{
  background-color: rgb(226, 184, 154);
  color: white;
  font-weight: bold;
}
.gamehistory_table th,
.gamehistory_table td {
  font-weight: bold;
  padding: 12px 15px;
}
.gamehistory_table tbody tr{
  border-bottom: 1px solid rgb(226, 184, 154);;
  text-align: center;
}



.gamehistory_button:hover,
.gamehistory_table tbody tr:hover{
  color: rgb(226, 184, 154);
}
.gamehistory_button{
  font-weight: bold;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
}